
Shannon-Phano/.vs/Shannon-Phano/v16/.suo
Shannon-Phano/.vs/Shannon-Phano/v16/Browse.VC.db
Shannon-Phano/.vs/Shannon-Phano/v16/Browse.VC.db-shm
Shannon-Phano/.vs/Shannon-Phano/v16/Browse.VC.db-wal
Shannon-Phano/.vs/Shannon-Phano/v16/Browse.VC.opendb
Shannon-Phano/.vs/Shannon-Phano/v16/ipch/AutoPCH/9b03218bb1429fc/SHANNON-PHANO.ipch
Shannon-Phano/.vs/Shannon-Phano/v16/ipch/AutoPCH/fc88d6cfed28c19f/CODER.ipch
Shannon-Phano/Debug/Coder.obj
Shannon-Phano/Debug/Shannon-Phano.exe
Shannon-Phano/Debug/Shannon-Phano.ilk
Shannon-Phano/Debug/Shannon-Phano.obj
Shannon-Phano/Debug/Shannon-Phano.pdb
Shannon-Phano/Debug/Shannon-Phano.tlog/CL.read.1.tlog
Shannon-Phano/Debug/Shannon-Phano.tlog/CL.write.1.tlog
Shannon-Phano/Debug/vc142.idb
Shannon-Phano/Debug/vc142.pdb
Shannon-Phano/.vs/Shannon-Phano/v16/.suo
Shannon-Phano/.vs/Shannon-Phano/v16/Browse.VC.db
Shannon-Phano/.vs/Shannon-Phano/v16/ipch/AutoPCH/9b03218bb1429fc/SHANNON-PHANO.ipch
Shannon-Phano/.vs/Shannon-Phano/v16/ipch/AutoPCH/fc88d6cfed28c19f/CODER.ipch
Shannon-Phano/Debug/Coder.obj
Shannon-Phano/Debug/Shannon-Phano.exe
Shannon-Phano/Debug/Shannon-Phano.ilk
Shannon-Phano/Debug/Shannon-Phano.obj
Shannon-Phano/Debug/Shannon-Phano.pdb
Shannon-Phano/Debug/Shannon-Phano.tlog/CL.read.1.tlog
Shannon-Phano/Debug/Shannon-Phano.tlog/CL.write.1.tlog
Shannon-Phano/Debug/vc142.idb
Shannon-Phano/Debug/vc142.pdb
Shannon-Phano/.vs/Shannon-Phano/v16/.suo
Shannon-Phano/.vs/Shannon-Phano/v16/Browse.VC.db
Shannon-Phano/.vs/Shannon-Phano/v16/ipch/AutoPCH/9b03218bb1429fc/SHANNON-PHANO.ipch
Shannon-Phano/.vs/Shannon-Phano/v16/ipch/AutoPCH/fc88d6cfed28c19f/CODER.ipch
Shannon-Phano/Debug/Coder.obj
Shannon-Phano/Debug/Shannon-Phano.exe
Shannon-Phano/Debug/Shannon-Phano.ilk
Shannon-Phano/Debug/Shannon-Phano.obj
Shannon-Phano/Debug/Shannon-Phano.pdb
Shannon-Phano/Debug/Shannon-Phano.tlog/CL.read.1.tlog
Shannon-Phano/Debug/Shannon-Phano.tlog/CL.write.1.tlog
Shannon-Phano/Debug/vc142.idb
Shannon-Phano/Debug/vc142.pdb
Shannon-Phano/.vs/Shannon-Phano/v16/.suo
Shannon-Phano/.vs/Shannon-Phano/v16/Browse.VC.db
Shannon-Phano/.vs/Shannon-Phano/v16/ipch/AutoPCH/9b03218bb1429fc/SHANNON-PHANO.ipch
Shannon-Phano/.vs/Shannon-Phano/v16/ipch/AutoPCH/fc88d6cfed28c19f/CODER.ipch
Shannon-Phano/Debug/Coder.obj
Shannon-Phano/Debug/Shannon-Phano.exe
Shannon-Phano/Debug/Shannon-Phano.ilk
Shannon-Phano/Debug/Shannon-Phano.obj
Shannon-Phano/Debug/Shannon-Phano.pdb
Shannon-Phano/Debug/Shannon-Phano.tlog/CL.read.1.tlog
Shannon-Phano/Debug/Shannon-Phano.tlog/CL.write.1.tlog
Shannon-Phano/Debug/vc142.idb
Shannon-Phano/Debug/vc142.pdb
Shannon-Phano/.vs/Shannon-Phano/v16/.suo
Shannon-Phano/.vs/Shannon-Phano/v16/Browse.VC.db
Shannon-Phano/.vs/Shannon-Phano/v16/ipch/AutoPCH/9b03218bb1429fc/SHANNON-PHANO.ipch
Shannon-Phano/Debug/Coder.obj
Shannon-Phano/Debug/Shannon-Phano.Build.CppClean.log
Shannon-Phano/Debug/Shannon-Phano.exe
Shannon-Phano/Debug/Shannon-Phano.ilk
Shannon-Phano/Debug/Shannon-Phano.obj
Shannon-Phano/Debug/Shannon-Phano.pdb
Shannon-Phano/Debug/Shannon-Phano.tlog/CL.read.1.tlog
Shannon-Phano/Debug/vc142.idb
Shannon-Phano/Debug/vc142.pdb
Shannon-Phano/.vs/Shannon-Phano/v16/.suo
*.db
*.ipch
*.obj
*.exe
*.ilk
*.obj
*.pdb
*.tlog
*.idb
*.pdb
Shannon-Phano.vcxproj.user
Shannon-Phano.vcxproj.filters
Shannon-Phano.vcxproj
Shannon-Phano.sln
Debug/Shannon-Phano.vcxproj.FileListAbsolute.txt
Debug/Shannon-Phano.log
Debug/Shannon-Phano.exe.recipe
Debug/Shannon-Phano.Build.CppClean.log
.vs/Shannon-Phano/v16/.suo
